.dashboard {
<<<<<<< HEAD

=======
>>>>>>> e027abf3735487a57d16c5011f5f74caba03fdd5
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.dashboard p {
    margin: 0;
}

.card-header {
    border: 1px solid #00a3fb;
    padding: 20px;
    background-color: #347604;
    margin-bottom: 1px;
<<<<<<< HEAD
=======
    border-radius: 5px;
>>>>>>> e027abf3735487a57d16c5011f5f74caba03fdd5
}

.card-primary{
    border: 2px solid #f7fff8;
}

.card-title {
    margin: 200;
    font-weight: bold; /* Make the text bold */
    font-size: 18px; /* Modify the font size */
    color: #ffffff;
}

.title_page{
    border: 1px solid #75c8f5;
    padding: 20px;
    background-color: #347604;
    margin-bottom: 1px;
    color: #ffffff;
}

<<<<<<< HEAD

=======
#sample-metadata p {
    font-size: 14px;
}

#sample-metadata p:hover {
    font-size: 16px;
    font-weight: 500;
}
>>>>>>> e027abf3735487a57d16c5011f5f74caba03fdd5
